#traverse-map{
    position: relative;
    background-image: url("/assets/images/LPC_forest/preview.png"); 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    text-align: left;
  }

  #traverse-map *{
    position: absolute;
  }

  #player{
    
    bottom: 5%;
    left: 5%;
    width: 24px;
    height: 36px;
    transform: scale(2);
    background: url("/assets/images/dog-ss.PNG") -48px -24px;
    /*============================================left , top
    background-color: white;*/
  }

  #portrait
  {
    top: 1%;
    transform: scale(0.75);
    /* background: url("/assets/images/dog-ss.PNG") */
  }

  #portrait:hover{
    cursor: pointer;
  }

  #bars{
    top: 1%;
    left: 15%;
    transform: scale(0.75);
  }

  #logout{
    bottom: 0;
    right: 0;
    width: 5%;
    height: 8%;
    background: black;
    border: 1px ridge #d8c601;
    padding: 1% 0 1% 1%;
  }

  #logout:hover{
    cursor: pointer;
  }