#map{
    width: 100%;
    height: 100%;
}

#battle-map{
  background-image: url("/assets/images/LPC Base Assets/UI/lpc_home_cup.gif"); 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}


#player{
  position: relative;
  top: 85%;
  width: 24px;
  height: 36px;
  transform: scale(2);
  background: url("/assets/images/dog-ss.PNG") -48px -24px;
  /*============================================left , top
  background-color: white;*/
}

#enemy{
  position: relative;
  top: 85%;
  width: 24px;
  height: 36px;
  transform: matrix(-2,0,0,2,0,0);
  background: url("/assets/images/cat-ss.png") -21px -22px;
 /* background-color: white;*/
}