<div id="battle-map">
    <!-- <img id="exp-icon" src="/assets/images/shield.png">
    <div id="exp-wrapper" class="bar-wrapper">
        <span id="exp-lvl">1</span>
        <div id="experience" class="bar"></div>
    </div> -->
    
    <!-- <img id="health-icon" src="/assets/images/HUD/Buttons/Heart_1.png"> -->
    <div id="health-wrapper" class="bar-wrapper">
        <div id="health" class="bar"></div>
    </div>


    <!-- <img id="health-icon" src="/assets/images/HUD/Buttons/Heart_1.png"> -->
    <div id="enemy-health-wrapper" class="bar-wrapper">
        <div id="enemy-health" class="bar"></div>
    </div>

    <!-- <img id="food-icon" src="/assets/images/food.PNG">
    <div id="hunger-wrapper" class="bar-wrapper">
        <div id="hunger" class="bar"></div>
    </div> -->

    <img id="player" src="/assets/images/trans-img.png">

    <img id="enemy" src="/assets/images/trans-img.png">


    <!-- <button>attack</button> -->
    <button style="top: 0; right: 0"(click)="LeaveBattle()">Flee</button>

</div>
