
<div id="login">

    <img id="dog-faceoff" src="/assets/images/dog-faceoff.png">
    <span id="game-title"><h1>CATS VS DOGS</h1></span>
    <img  id="city" src="/assets/images/city-burn.png">
    <img id="cat-faceoff" src="/assets/images/cat-faceoff.png">

    <div class="container">
        <form id="login-form" class="form" (submit)="Login()">
            <label id="lbl-user">username</label>
            <input [(ngModel)]="username" id="username" class="field" type="text" name="username" required>
            <label id="lbl-pass">password</label>
            <input [(ngModel)]="password" id="password" class="field" type="password" name="password" required>
            <input id="submit" type="submit" name="submit" value="Sign In">
        </form>
    </div>
</div>