<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="">
            <img alt="Brand" src="assets/images/Logo.png">
            {{ title }}
        </a>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item active">
          <a class="nav-link" routerLink="" >Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="about" >About</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="profile" >Profile</a>
        </li>
      </ul>
    </div>
  </nav>