#frame{
    position: relative;
    top: 5vh;
    border: 1px solid blue;
    width:60vw; 
    min-height: 90vh;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

#controls{
    margin: 0 auto;
}

/*
#battle-screen{
    background-image: url("/assets/images/LPC Base Assets/UI/lpc_home_cup.gif");
    background-size: cover;
    background-repeat: no-repeat;
}*/